{% load static  %}

<div class="container">
    <div class="row">
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="{% static 'images/image_1.webp' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/g/kf/S5353ceca371544558b8843c497b3f2b4f.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/g/kf/S5353ceca371544558b8843c497b3f2b4f.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/g/kf/S5353ceca371544558b8843c497b3f2b4f.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/g/kf/S5353ceca371544558b8843c497b3f2b4f.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/g/kf/S5353ceca371544558b8843c497b3f2b4f.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/g/kf/S5353ceca371544558b8843c497b3f2b4f.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/g/kf/S5353ceca371544558b8843c497b3f2b4f.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/static/np/p/16e4a7a5bab2757a1ce004ef27c258ec.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/g/kf/S5353ceca371544558b8843c497b3f2b4f.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/g/kf/S5353ceca371544558b8843c497b3f2b4f.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="width: 18rem;">
          <img src="https://img.drz.lazcdn.com/g/kf/S5353ceca371544558b8843c497b3f2b4f.jpg_720x720q80.jpg_.webp" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">baby clothes</h5>
            <p class="card-text">Some quick example text to build on the baby clothes and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>

    </div>
  </div>
  
