{% extends 'master.html' %}

{% block contents %}


<div class="container">
    <div class="row">
      <div class="col-3">
        <!-- Column -->
      </div>
      <div class="col-6">
        <div class="container-fluid">
            <h1> contact us </h1>
         
          
                {% for message in messages %}
                    <li style="color: green;">{{ message }}</li>
                {% endfor %}
           
        
        
            <form action="{% url 'store_contact_us' %}" method="post">
                {% csrf_token %}
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Message</label>
                  <textarea type="text" name="message" class="form-control" id="exampleInputPassword1"> </textarea>
                </div>
                <div class="mb-3 form-check">
                  <input type="checkbox" class="form-check-input" id="exampleCheck1">
                  <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            
            </div>
            
      </div>
      <div class="col-3">
        <!-- Column -->
      </div>
    </div>
  </div>



{% endblock %}

	