

{% extends 'master.html' %}
{% load static %}

{% block contents %}
    <div class="container">
        <div class="row">
        
      
        
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="{{product.image.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                    <h5 class="card-title">{{product.name}} ({{product.price}})</h5>
                    <p class="card-text">{{product.description}}</p>
                    <a href="#" class="btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>

      
  
        </div>
      </div>
{%  endblock %}

